{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LexiGo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <p>
                    <img src="{% static 'images/logo.svg' %}" alt="logo" width="160" height="100">
                </p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/"><i class="bi bi-house"> Accueil</i>
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about/"><i class="bi bi-info-square"> À propos de nous</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Accueil</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">À propos de nous</a></li>
            </ul>
            <p class="text-center text-muted">&copy; 2022 LexiGo</p>
        </footer>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% block javascript%}{% endblock %}

</body>

</html>