{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LexiGo</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Dosis">
</head>

<body>
    <main>
        <div class="container-fluid">
            <header
                class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <img src="{% static 'images/logo.svg' %}" alt="logo" width="160" height="100">
                </a>

                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 active" aria-current="page">Accueil</a></li>
                    <li><a href="#" class="nav-link px-2">À Propos</a></li>
                    <li><a href="#" class="nav-link px-2">Contact</a></li>
                </ul>

                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-outline-primary me-2">Connexion</button>
                    <button type="button" class="btn btn-primary">S'inscrire</button>
                </div>
            </header>
        </div>

        <footer>
            <div class="container">
                {% block content %}{% endblock %}
            </div>

            <div class="my-5">
                <footer class="text-center text-white" style="background-color: #9bb7de;">
                    <div class="container p-4 pb-0">
                        <section class="mt-5">
                            <div class="row text-center d-flex justify-content-center pt-5">
                                <div class="col-md-2">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="#!" class="text-white">Accueil</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="row text-center d-flex justify-content-center pt-5">
                                <div class="col-md-2">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="#!" class="text-white">À Propos</a>
                                    </h6>
                                </div>
                            </div>
                            <div class="row text-center d-flex justify-content-center pt-5">
                                <div class="col-md-2">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="#!" class="text-white">Contatc</a>
                                    </h6>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                        &copy 2022 LexiGo
                    </div>

                </footer>
            </div>

        </footer>
    </main>
    {% block javascript%}{% endblock %}
</body>

</html>