{% extends 'base2.html' %}

{% block content %}
<div class="container my-5">
    <div class="d-flex mx-auto">
        <div class="card" style="margin:0 auto;">
            <div class="card-header text-center">
                <h4>Inscription</h4>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="form-group" style="margin-top: 10px;">
                        <label for="username">Nom d'utilisateur :</label><br>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="form-group" style="margin-top: 10px;">
                        <label for="password1">Mot de passe :</label><br>
                        <input type="password" name="password1" class="form-control" required>
                    </div>
                    <div class="form-group" style="margin-top: 10px;">
                        <label for="password2">Confirmation du mot de passe :</label><br>
                        <input type="password" name="password2" class="form-control" required>
                    </div>
                    <div class="form-group" style="margin-top: 10px;">
                        <button type="submit" class="btn btn-primary mx-auto d-block">S'inscrire</button>
                    </div>
                    <div class="d-flex align-items-center" style="padding-top:10px; padding-bottom:10px;">
                        <a href="{% url 'login' %}" class="text-secondary mx-auto">Se connecter</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}